{% extends 'base.html' %}

{% block content %}

<form name="form2" id="form2" class="form-horizontal" method="post" action="{% url 'cidade_delete' cidade.id %}">
  {% csrf_token %}
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
      
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="cancelar" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Confirmação de exlusão</h4>
            </div>
            <div class="modal-body">
               
    Você tem certeza que deseja excluir o registro:{{ cidade.nome }}<b></b>?
             
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-danger">Confirmar</button>
           
          </div>
        </div>
      </div>
    </div>

</form>



{% endblock%}
