{% extends 'base.html' %}

{% block content %}

<div class="titulo">EMPRESAS</div>
<form name="form" id="form" class="form-horizontal" method="post" action="">
    {% csrf_token %}
    <div class="form2">
        <div class="form-group">
            <label class="control-label col-sm-3" for="nome">nome:</label>
            <div class="col-sm-16">
                <input type="text" name="nome" maxlength="50" required id="id_nome">
            </div>
        </br>
     
            <label class="control-label col-sm-3" for="nome">CNPJ:</label>
            <div class="col-sm-16">
                <input type="text" name="cnpj" maxlength="2" required id="id_cnpj">
            </div>
        </br>
            <label class="control-label col-sm-3" for="nome">ie:</label>
            <div class="col-sm-16">
                <input type="text" name="ie" maxlength="50" required id="id_ie">
            </div>
        </br>

        <label class="control-label col-sm-3" for="nome">email:</label>
        <div class="col-sm-16">
            <input type="email" name="email" maxlength="50" required id="id_email">
        </div>
    </br>

        <label class="control-label col-sm-3" for="nome">endereço:</label>
        <div class="col-sm-16">
            <input type="text" name="endereco" maxlength="50" required id="id_endereco">
        </div>

    </br>
        <div class="form-group">
            <label class="control-label col-sm-3" for="id_localidade">Localidade:</label>
            <div class="col-sm-8">
                <select name="localidades" required id="id_localidades" required style="width:75%; height:30px; border:#CCC solid 1px;">
                <option value="0" selected>Selecione</option>
                {% for localidade in localidades %}
                    <option value="{{ localidade.id }}" >{{ localidade.cidade }}</option>
                {% endfor%}
                </select>
            </div>
        </div>
    </br>

        <label class="control-label col-sm-3" for="nome">Fone:</label>
        <div class="col-sm-16">
            <input type="text" name="fone" maxlength="50" required id="id_fone">
        </div>
    </br>

        <label class="control-label col-sm-3" for="nome">Responsável:</label>
        <div class="col-sm-16">
            <input type="text" name="responsavel" maxlength="50" required id="id_responsavel">
        </div>

    </br>

        <label class="control-label col-sm-3" for="nome">Data de início:</label>
        <div class="col-sm-16">
            <input type="date" name="data_inicio" maxlength="50" required id="id_data_inicio">
        </div>

</div> <!--Final da div form1-->

    <div class="botoes">
        <div class="form-group">
            <Button type = "submit" class = "btn btn-primary btn-lg">
                <span class = "glyphicon glyphicon-plus" 
                style="margin-left: 5px; margin-right: 5px; font-size: 18px; padding-bottom:5px;">Incluir</span>
            </Button>                
        </div>
    </div>


    {% if messages %}
    <div class="alert alert-warning">
            {% for m in messages %}
                <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ m }}</p>
            {% endfor %}
        </div>
    {% endif %}
</form>
{% endblock%}

