{% extends 'base.html' %}

{% block content %}

<div class="titulo">DESTINOS</div>


    <div class="botoes">
        <div class="form-group">
            <a href="{% url 'destino_novo' %}" style="color:#fff" class="btn btn-primary">
            <span class = "glyphicon glyphicon-plus" id="search-btn"
            style="margin-left: 5px; margin-right: 10px; font-size: 18px; padding-bottom:5px;"> Novo
            </span></a>
        </div>
    </div>

    {% if messages %}
    <div class="alert alert-warning">
            {% for m in messages %}
                <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ m }}</p>
            {% endfor %}
        </div>
    {% endif %}

    <div class="form">
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>Cidade</th>
                <th>Estado</th>
                <th>País</th>
                <th>AÇÕES</th>

            </tr>
            </thead>
            <tbody>
            {% for destino in destinos %}
            <tr>
                <td>{{ destino.cidade.nome }}</td>
                <td>{{ destino.estado.nome }}</td>
                <td>{{ destino.pais.nome }}</td>
                <td style="width:50px; text-align: center;">
                <a href="{% url 'destino_update' destino.id %}" title="Editar e Excluir o registro" style="color:#fff" class="btn btn-primary">
                <span class = "glyphicon glyphicon-edit"
                style="margin-left: 5px; margin-right: 5px; font-size: 10px; padding-bottom:5px;">
                </span></a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
</div>
<div class="pagination">
    <span class="step-links">
    {% if destinos.has_previous %}
        <a href="?page={{ destinos.previous_page_number }}">
        <span class = "glyphicon glyphicon-arrow-left"
        style="margin-left: 5px; margin-right: 10px; font-size: 18px; padding-bottom:5px;">
        </span></a>
    {% endif %}
    </span>

    <span>
        {{ destinos.number }} de {{ destinos.paginator.num_pages }}
    </span>

    <span>
    {% if destinos.has_next %}
        <a href="?page={{ destinos.next_page_number }}">
        <span class = "glyphicon glyphicon-arrow-right"
        style="margin-left: 5px; margin-right: 10px; font-size: 18px; padding-bottom:5px;">
        </span></a>
    {% endif %}
    </span>
</div>
</form>

{% endblock%}